<h2>글쓰기</h2>

<table class="table">
  <thead>
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th>글 편집하기</th>
    </tr>
  </thead>

  <tbody>
    <% @bulletins.each do |bulletin| %>
      <tr>
        <td><%= bulletin.title %></td>
        <td><%= bulletin.description %></td>
        <td>
          <%= link_to '글 보기', bulletin, class: 'btn btn-default' %>
          <%= link_to '편집하기', edit_bulletin_path(bulletin), class: 'btn btn-default' %>
          <%= link_to '삭제하기', bulletin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '글쓰기', new_bulletin_path, class: 'btn btn-default' %>

