<p id="notice"><%= notice %></p>

<p>
  <strong>이름:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>주소:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>결제 선택:</strong>
  <%= @order.pay_type %>
</p>

<%= link_to '상품 편집', edit_order_path(@order) %> |
<%= link_to '뒤로', orders_path %>
