<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= render @cart %>
<!-- START_HIGHLIGHT -->
<div class="cart_title">장바구니 목록</div>
<table>
    <%= render(@cart.line_items) %>
<!-- END_HIGHLIGHT -->
  <% @cart.line_items.each do |item| %>
<!-- START_HIGHLIGHT -->
    <tr>
      <td><%= item.quantity %>&times;</td>
      <td><%= item.product.title %></td>
      <td class="item_price"><%= number_to_currency(item.total_price) %></td>
    </tr>
<!-- END_HIGHLIGHT -->
  <% end %>

<!-- START_HIGHLIGHT -->
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
<!-- END_HIGHLIGHT -->
<!-- START_HIGHLIGHT -->
</table>
<!-- END_HIGHLIGHT -->

<%= button_to '장바구니 비우기', @cart, method: :delete,
    data: { confirm: 'Are you sure?' } %>
<%= link_to '목록 편집', edit_cart_path(@cart) %> |
<%= link_to '뒤로', carts_path %>
