<h2><%= bulletin_name params[:bulletin_id] %></h2>
<%= simple_form_for([@bulletin, @post]) do |f| %>
  <%= f.error_notification %>
<div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content, input_html: { rows: 10 } %>

    <% if @post.bulletin.post_type == "gallery" %>
      <%= f.input :picture, as: :file %>
      <%= f.hidden_field :picture_cache %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<hr>
<%= link_to '뒤로', bulletin_posts_path, class: 'btn btn-default' %>
