<h2><%= bulletin_name params[:bulletin_id] %></h2>

<table class='table'>
<tr>
  <th>제목</th>
  <td><%= @post.title %></td>
</tr>
<tr>
  <th>내용</th>
  <td><%= @post.content %></td>
</tr>
<tr>
  <th>작성일</th>
  <td><%= @post.created_at %></td>
</tr>
</table>

<%= render "comments/comments" %>

<%= link_to '수정하기', edit_bulletin_post_path(@post.bulletin, @post), class: 'btn btn-default' %>
<%= link_to '뒤로', bulletin_posts_path, class: 'btn btn-default' %>
